# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# React-specific settings
[*.js]
indent_size = 2
indent_style = space
quote_type = single
jsx_quote_type = single

[*.jsx]
indent_size = 2
indent_style = space
quote_type = single
jsx_quote_type = single
